<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/styles.css">
    <title>Confirmation</title>
</head>
<body>
    <div class="form">
        <div id="contactUs">
            <h1>
                Payment Successful!
            </h1>
        </div>
    </div>
    
</body>
</html>